

.redbg {
    background-color:red;
  }
  
  .bluebg {
    background-color:blue;
    padding: 10px;
  }
  
  .yellowbg {
    background-color:yellow;
  }

  .greenbg {
      background-color:green;
  }

  .purplebg {
      background-color:purple;
  }

  .SideColItem {
      margin: 10px;
  }

  .SideColItemLabel {
      text-align: right;
  }

  .SideColItemValue {
    border: 1px solid black;
    border-radius: 7px;
}

.onethird {
  width: 33%;
}

.twothird {
  width: 66%
}

.th {
  text-align: right;
}